header{
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}
.logo{
    display: flex;

}
.logo img{
    height: 55px;
    width: 55px;
    margin-left: 50px;
    margin-top: 10px;
}
nav{
    display: flex;
    font-size: 20px;
    font-family:serif;
    margin-top: 6px;
    margin-left: 50px;
}
nav a{
    text-decoration: none;
    color: black;
}

/* .body_inno{
    background-color: gray;
    background-image: url(img/inno.jpg);
    width: 101%;
    height: 955px;
    margin-left: -8px;
} */
.body_inno img{
    filter: brightness(40%);
    width: 101%;
    height: 955px;
    margin-left: -8px;
}
.body_inno p{
    color: white;
    font-size: 72px;
    width: 585px;
    height: 172px;
    display: flex;
    margin-top: 5px;
    position: absolute;
    bottom: -385px;
    right: 905px;
}
.m1{
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    height: 120px;
    display: flex;
    margin-top: 45px;
}
.m1 p{
    color: grey;
    margin-left: 50px;
}
.m1 h3{
    margin-left: 50px;
    margin-top: -25px;
    font-size: 24px;
}
.m1 a{
    color: black;
}
.vor{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    margin-top: 85px;
}
.vor h1{
    height: 43px;
    left: 10px;
    font-size: 36px;
    margin-left: 15px;
}
.conm2{
    width: 94%;
    margin-left: auto;
}
.m2{
    overflow-x: scroll;
    white-space: nowrap;
    overflow-y: hidden;
    display: flex;
    margin-top: 40px;
    position: relative;
}
/* //////////////////////////////////////////////////////////////////////////////////////// 1 картина*/
.f1{
    height: 450px;
    width: 335px;
    margin: 1px;
}
.f1 img{
    filter: brightness(50%);  
    height: 450px;
    width: 335px;
}
.f1p{
    position: absolute;
    top: 30px;
    left: 30px;
    background-color:rgba(250, 67, 75, 1);
    color: white;
    border-radius: 14px;
    width: 120px;
    height: 30px;
    text-align: center;
    vertical-align: middle;
    font-size: 14px;
    line-height: 17px;
}
.f1p p{
    height: 20px;
    height: 30px;
    margin-top: 5px;
}
.f1h{
    position: absolute;
    top: 30px;
    left: 160px;
    background-color: white;
    color: black;
    border-radius: 14px;
    width: 60px;
    height: 30px;
    text-align: center;
    vertical-align: middle;
    font-size: 16px;
}
.f1h p{
    margin-top: 5px;
}
.f1t{
    font-size: 20px;
    position: absolute;
    color: white;
    top: 365px;
    left: 30px;
}
.f1tt{
    color: rgb(200, 200, 200);
    font-size: 12px;
    position: absolute;
    top: 350px;
    width: 280px;
    height: 50px;
    max-width: auto;
    left: 30px;
    top: 400px;
}
/* //////////////////////////////////////////////////////////////////////////////////////// 2 картина*/

.f2{
    height: 450px;
    width: 335px;
    margin: 1px;
    margin-left: 20px;
}
.f2 img{
    filter: brightness(50%);  
    height: 450px;
    width: 335px;
}
.f2p{
    position: absolute;
    top: 30px;
    left: 390px;
    background-color: rgba(250, 67, 75, 1);
    color: white;
    border-radius: 14px;
    width: 120px;
    height: 30px;
    text-align: center;
    vertical-align: middle;
    font-size: 14px;
    line-height: 17px;
}
.f2p p{
    height: 20px;
    height: 30px;
    margin-top: 5px;
}
.f2h{
    position: absolute;
    top: 30px;
    left: 520px;
    background-color: white;
    color: black;
    border-radius: 14px;
    width: 60px;
    height: 30px;
    text-align: center;
    vertical-align: middle;
    font-size: 16px;
}
.f2h p{
    margin-top: 5px;
}
.f2t{
    font-size: 20px;
    position: absolute;
    color: white;
    top: 365px;
    left: 390px;
}
.f2tt{
    color: rgb(200, 200, 200);
    font-size: 12px;
    position: absolute;
    top: 350px;
    width: 280px;
    height: 50px;
    max-width: auto;
    left: 390px;
    top: 400px;
}
/* //////////////////////////////////////////////////////////////////////////////////////// 3 картина*/
.f3{
    height: 450px;
    width: 335px;
    margin: 1px;
    margin-left: 20px;
}
.f3 img{
    filter: brightness(50%);  
    height: 450px;
    width: 335px;
}
.f3p{
    position: absolute;
    top: 30px;
    left: 750px;
    background-color: rgba(250, 67, 75, 1);
    color: white;
    border-radius: 14px;
    width: 120px;
    height: 30px;
    text-align: center;
    vertical-align: middle;
    font-size: 14px;
    line-height: 17px;
}
.f3p p{
    height: 20px;
    height: 30px;
    margin-top: 5px;
}
.f3h{
    position: absolute;
    top: 30px;
    left: 880px;
    background-color: white;
    color: black;
    border-radius: 14px;
    width: 60px;
    height: 30px;
    text-align: center;
    vertical-align: middle;
    font-size: 16px;
}
.f3h p{
    margin-top: 5px;
}
.f3t{
    font-size: 20px;
    position: absolute;
    color: white;
    top: 365px;
    left: 750px;
}
.f3tt{
    color: rgb(200, 200, 200);
    font-size: 12px;
    position: absolute;
    top: 350px;
    width: 280px;
    height: 50px;
    max-width: auto;
    left: 750px;
    top: 400px;
}
/* //////////////////////////////////////////////////////////////////////////////////////// 4 картина*/

.f4{
    height: 450px;
    width: 335px;
    margin: 1px;
    margin-left: 20px;
}
.f4 img{
    filter: brightness(50%);  
    height: 450px;
    width: 335px;
}
.f4p{
    position: absolute;
    top: 30px;
    left: 1100px;
    background-color: rgba(250, 67, 75, 1);
    color: white;
    border-radius: 14px;
    width: 120px;
    height: 30px;
    text-align: center;
    vertical-align: middle;
    font-size: 14px;
    line-height: 17px;
}
.f4p p{
    height: 20px;
    height: 30px;
    margin-top: 5px;
}
.f4h{
    position: absolute;
    top: 30px;
    left: 1230px;
    background-color: white;
    color: black;
    border-radius: 14px;
    width: 60px;
    height: 30px;
    text-align: center;
    vertical-align: middle;
    font-size: 16px;
}
.f4h p{
    margin-top: 5px;
}
.f4t{
    font-size: 20px;
    position: absolute;
    color: white;
    top: 365px;
    left: 1110px;
}
.f4tt{
    color: rgb(200, 200, 200);
    font-size: 12px;
    position: absolute;
    top: 350px;
    width: 280px;
    height: 50px;
    max-width: auto;
    left: 1110px;
    top: 400px;
}
/* //////////////////////////////////////////////////////////////////////////////////////// 5 картина*/

.f5{
    height: 450px;
    width: 335px;
    margin: 1px;
    margin-left: 20px;
}
.f5 img{
    filter: brightness(50%);  
    height: 450px;
    width: 335px;
}
.f5p{
    position: absolute;
    top: 30px;
    left: 1455px;
    background-color: rgba(250, 67, 75, 1);
    color: white;
    border-radius: 14px;
    width: 120px;
    height: 30px;
    text-align: center;
    vertical-align: middle;
    font-size: 14px;
    line-height: 17px;
}
.f5p p{
    height: 20px;
    height: 30px;
    margin-top: 5px;
}
.f5h{
    position: absolute;
    top: 30px;
    left: 1590px;
    background-color: white;
    color: black;
    border-radius: 14px;
    width: 60px;
    height: 30px;
    text-align: center;
    vertical-align: middle;
    font-size: 16px;
}
.f5h p{
    margin-top: 5px;
}
.f5t{
    font-size: 20px;
    position: absolute;
    color: white;
    top: 365px;
    left: 1455px;
}
.f5tt{
    color: rgb(200, 200, 200);
    font-size: 12px;
    position: absolute;
    top: 350px;
    width: 280px;
    height: 50px;
    max-width: auto;
    left: 1455px;
    top: 400px;
}
.conm3{
    width: 101%;
    background-color:  rgba(250, 67, 75, 1);
    height: 110px;
    margin-top: 50px;
    margin-left: -8px;
}
.m3{
    margin-left: 255px;
    display: flex;

}
.conm3 a{
    text-decoration: none;
    color: white;
    font-size: 18px;
}
.k1{
    border-radius: 22px;
    border-color: white;
    width: 210px;
    height: 45px;
    border: 2px solid white;
    text-align: center;
    margin-top: 30px;
}
.k1 p{
    margin-top: 5%;
}
.k2{
    border-radius: 22px;
    border-color: white;
    width: 171px;
    height: 45px;
    border: 2px solid white;
    text-align: center;
    margin-top: 30px;
    margin-left: 20px;
}
.k2 p{
    margin-top: 7%;
}
.k3{
    border-radius: 22px;
    border-color: white;
    width: 175px;
    height: 45px;
    border: 2px solid white;
    text-align: center;
    margin-top: 30px;
    margin-left: 20px;
}
.k3 p{
    margin-top: 7%;
}
.k4{
    border-radius: 22px;
    border-color: white;
    width: 193px;
    height: 45px;
    border: 2px solid white;
    text-align: center;
    margin-top: 30px;
    margin-left: 20px;
}
.k4 p{
    margin-top: 7%;
}
.zag{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    margin-top: 40px;
}
.zag a{
    margin-left: auto;
    text-decoration: none;
    color: black;
    font-size: 18px;
    margin-top: 40px;
    vertical-align: middle;
}
.z1{
    width: 275px;
    height: 45px;
}
.pl{
    height: 150px;
    width: 670px;
    margin-top: 30px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}
.pl2{
    margin-left: auto;
}
.p2{
    height: 150px;
    width: 670px;
    margin-top: 30px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}
.pl11 p{
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    width: 580px;
    height: 48px;
}
.pl11 h{
    width: 580px;
    height: 48px;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
    color: gray;
}
.pl11 h1{
    width: 77px;
    height: 30px;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: right;
    float: right;
    color: gray;
}
.pl22{
    width: 580px;
    float: right;
    margin-left: auto;
}
.pl22 p{
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    width: 580px;
    height: 48px;
}
.pl22 h{
    width: 580px;
    height: 48px;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
    color: gray;
}
.pl22 h1{
    width: 77px;
    height: 30px;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: right;
    float: right;
    color: gray;
}
/* /////////////////////////////////////////////////////////////////// НОВОСТИ */
/* .fullp{
    background-image: url(img/novosti/inno\ 1.png);
    background-size: 100%;
    background-repeat: no-repeat;
    height: 700px;
} */
.fullp img{
    background-size: 100%;
    background-repeat: no-repeat;
    height: 700px;
    width: 1519px;
    margin-left: -8px;
}
.nov{
    margin-top: 70px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    height: 375px;
}
.nov1{
    color: gray;
    font-size: 20px;
}
.nov2{
    font-size: 22px;
}
.nov3{
    font-size: 17px;
}

.mer img{
    background-size: 100%;
    background-repeat: no-repeat;
    height: 600px;
    width: 101%;
    margin-left: -8px;
}
.merm{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
.merm1 h3{
    font-size: 36px;
}
.merm1 p{
    font-size: 18px;
}